In [6]:
import pandas as pd

In [7]:
data = pd.read_csv("D:/LSE/Capstone Project/7591elec/csv/7591elec_2009.csv")

In [8]:
data.head()

   ANON_ID      ADVANCEDATETIME  HH  ELECKWH  Year
0    12860  2009-01-01 00:00:00   0     0.55  2009
1     3796  2009-01-01 00:00:00   0     0.24  2009
2     1646  2009-01-01 00:00:00   0     1.55  2009
3    15625  2009-01-01 00:00:00   0     0.67  2009
4    11175  2009-01-01 00:00:00   0     0.29  2009

In [9]:
# Convert columns to the correct data types 
data['ADVANCEDATETIME'] = pd.to_datetime(data['ADVANCEDATETIME'], errors='coerce')
data['HH'] = pd.to_numeric(data['HH'], errors='coerce')

# Remove rows with missing values in ADVANCEDATETIME or HH
data_cleaned = data.dropna(subset=['ADVANCEDATETIME', 'HH'])

# Create a Date column and check if each ANON_ID has exactly 48 unique HH values per day
data_cleaned['Date'] = data_cleaned['ADVANCEDATETIME'].dt.date  
hh_completeness = data_cleaned.groupby(['ANON_ID', 'Date'])['HH'].nunique().reset_index()
hh_completeness.columns = ['ANON_ID', 'Date', 'HH_Count']

# Find ANON_IDs with missing HH values (less than 48 for any day)
incomplete_entries = hh_completeness[hh_completeness['HH_Count'] < 48]
incomplete_ids = incomplete_entries['ANON_ID'].unique()

# Remove ANON_IDs with incomplete HH data
data_cleaned = data_cleaned[~data_cleaned['ANON_ID'].isin(incomplete_ids)]

# Save the cleaned data to a new CSV file
data_cleaned.to_csv('cleaned_electricity_data.csv', index=False)

print(f"Original data shape: {data.shape}")
print(f"Cleaned data shape: {data_cleaned.shape}")
print(f"Number of ANON_IDs dropped: {len(incomplete_ids)}")

Original data shape: (76674268, 5)
Cleaned data shape: (21204528, 6)
Number of ANON_IDs dropped: 3999

In [10]:
data_cleaned.isnull().sum()  # Check for other missing values

ANON_ID            0
ADVANCEDATETIME    0
HH                 0
ELECKWH            0
Year               0
Date               0
dtype: int64

In [13]:
import os
print(os.getcwd())

C:\Users\sonis